/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

/* Style the call-to-action section */
.cta-section {
    text-align: center;
}

.cta-section a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-section a:hover {
    background-color: #0056b3;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-container > div {
    flex-basis: calc(29% - 5px); /* 50% width minus margin */
    margin-bottom: 20px; /* Adjust margin as needed */

}